@import compass/layout
@import susy

// Layout configuration

$about: 5
$pages: 4
$total-columns: $about + $pages

$length: 90%
$column-width: 5em
$gutter-width: 1em
$grid-padding: $gutter-width

$susy: ( columns: $total-columns, gutters: $gutter-width/ $column-width, column-width: $column-width)

+sticky-footer(3em, "#root", "#powered-by-footer", "#powered-by")

.page
  +container
  .header
    +span($total-columns)
  .main-content
    +container

.blog-nav
  ul
    +horizontal-list
    +no-bullet
    float: right
