@import compass/layout
@import susy

// Layout configuration

$about: 5
$pages: 4
$total-columns: $about + $pages

$length: 90%
$column-width: 5em
$gutter-width: 1em
$grid-padding: $gutter-width

+sticky-footer(3em, "#root", "#powered-by-footer", "#powered-by")

.navigation
  +container
  position: fixed
  left: 0
  right: 0
  top: 0

.page
  +container
  .header
    +span-columns($total-columns)
  .main-content
    +container

.blog-nav
  ul
    +horizontal-list
    +no-bullet
    float: right
