@import compass/layout
@import susy

// Layout configuration

$total-columns: 12
$column-width: 4em
$gutter-width: 1em
$grid-padding: $gutter-width

+sticky-footer(3em, "#root", "#powered-by-footer", "#powered-by")

.page
  +container
  .header
    +span-columns(12)
    .title
      +span-columns(4,12)
    .navigation
      +span-columns(6 omega, 12)
      .navigation-meta
        +span-columns(2,6)
      .navigation-work
        +span-columns(2,6)
      .navigation-blog
        +span-columns(2 omega,6)
  .content
    +span-columns(12)
    .about
      +span-columns(6, 12)
    .recent-posts
      +span-columns(6 omega, 12)

    .post-date
      +span-columns(4,12)
    .post-tags
      +span-columns(3 omega, 12)
    .post
      +span-columns(12, 12)
