.navigation
  color: $navigation-color
  a
    +link-colors($navigation-item-color, $hover: $navigation-hover-color)
  border-bottom:
    style: solid
    color: $border
    width: 2px
  padding-bottom: 1em
